body {
    font-family: 'Candara', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-container h2 {
    margin-bottom: 20px;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-button {
    background-color: #0b4625;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #043117;
}